<%- include("./partials/header")  %> 
    <h1>Home Page</h1>

    Please <a href= '/auth/google'>log in</a> to see your appointments.

    <a href="/appointments">Go to appointments</a>
    
<%- include("./partials/footer")  %> 
